@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: .04vw;
    text-align: center;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body::before {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#MS_TETRIS {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 0;
}

#MS_TETRIS * {
    touch-action: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#block-layer {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

#field-layer {
    z-index: 0;
    position: relative;
    background-color: #333;
}

#field-layer #effect-layer {
    content: '';
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 0, 0, .5);
}

#field-layer #warning-layer.on {
    content: '';
    opacity: .25;
    animation: twincle 2s linear infinite;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 0, 0, .5);
}

@keyframes twincle {
    0% { background: rgba(255, 0, 0, 0); }
    50% { background: rgba(255, 0, 0, 1); }
    100% { background: rgba(255, 0, 0, 0); }
}

#next-block-preview {
    z-index: 0;
}

.layer span {
    z-index: 1;
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.layer span i {
    display: block;
    width: 100%;
    height: 100%;
}

#field-layer span:not(.valid) {
    border-color: rgba(255, 255, 255, .05);
}

.layer span.valid {
    border-color: rgba(0, 0, 0, .25);
    background: #fff;
}

.layer span.valid i {
    opacity: .5;
}

#gameInfo {
    background: #56555c;
}

.gameInfo * {
    color: #fff;
    font-size: 30rem;
}

#gameInfo > div {
    display: inline-block;
    vertical-align: middle;
    padding-right: 30rem;
}

.gameInfo > em {
    font-weight: bold;
}

#pause {
    vertical-align: middle;
    font-weight: bold;
    color: #fff;
    padding: 5rem;
    border: none;
    background: blue;    
}

#overlay {
    z-index: 50;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

#overlay::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

#start {
    height: 60rem;
    vertical-align: middle;
    font-size: 30rem;
    font-weight: bold;
    color: darkblue;
    padding: 5rem 10rem 0;
    border: 5rem solid orange;
    background: yellow;
}

#restart {
    display: block;
    width: 240rem;
    height: 60rem;
    font-size: 30rem;
    font-weight: bold;
    color:yellow;
    padding: 5rem 10rem 0;
    margin: 0 auto;
    border: 5rem solid orange;
    background: blue;
}

#start:not(:only-child) {
    margin-top: 30rem;
}

#overlay .inner {
    display: inline-block;
    vertical-align: middle;
}

#overlay .inner h3.title {
    font-size: 45rem;
    color: yellow;
}

.comboBox {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    pointer-events: none;
}

.comboBox::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

.comboBox span {
    width: 100%;
    height: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.comboBox em {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 75rem;
    font-style: italic;
    text-align: center;
}

.comboBox em:first-child {
    -webkit-text-stroke-width: 5rem;
    -webkit-text-stroke-color: #fff;
    text-shadow: -15rem 0 orange, 0 15rem orange, 15rem 0 orange, 0 -15rem orange;
    color: #fff;
}

.comboBox em:last-child {
    color: #fff;
    font-weight: bold;
    text-shadow: -10rem 0 red, 0 10rem red, 10rem 0 red, 0 -10rem red;
}

.comboBox .combo_1 em:first-child {
    text-shadow: -15rem 0 gold, 0 15rem gold, 15rem 0 gold, 0 -15rem gold;
}

.comboBox .combo_2 em:first-child {
    text-shadow: -15rem 0 coral, 0 15rem coral, 15rem 0 coral, 0 -15rem coral;
}

.comboBox .combo_1 em:last-child {
    text-shadow: -10rem 0 #333, 0 10rem #333, 10rem 0 #333, 0 -10rem #333;
}

.comboBox .combo_2 em:last-child {
    text-shadow: -10rem 0 blue, 0 10rem blue, 10rem 0 blue, 0 -10rem blue;
}

.comboBox em i {
    -webkit-text-stroke-width: 1rem;
    -webkit-text-stroke-color: gray;
    color: gray;
    text-shadow: -5rem 0 white, 0 5rem white, 5rem 0 white, 0 -5rem white;
    font-size: 50rem;
}

@keyframes combo {
    0% { opacity: 0; transform: translateY(5%); }
    50% { opacity: .8;}
    75% { opacity: .75; }
    100% { opacity: 0; transform: translateY(-5%); }
}


@media (max-width: 500px)  {
    html {
        font-size: .17vw; 
    }

    #next-block-preview {
        left: auto !important;
        right: 0;
        opacity: .25;
    }
}
